name: Run LaTeXML
on:
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: latexml/ar5ivist:latest
    # Add permissions for the workflow to push to your repo
    permissions:
      contents: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Compile with LaTeXML
        run: |
          chown -R $(id -u):$(id -g) .
          mkdir -p docs
          latexml --dest=docs/thesis.xml thesis.tex
          latexmlpost --dest=docs/index.html --format=html5 \
          --graphicimages --pictureimages \
          --css=style.css \
          docs/thesis.xml
          latexmlc --dest=docs/thesis.epub thesis.tex

      - name: Commit and Push HTML output
        run: |
          # Configure Git user
          git config user.name "GitHub Actions Bot"
          git config user.email "<>"
          # Add all files in the docs directory
          git add docs/
          # Commit the changes if any exist
          git commit -m "Output from LaTeXML" || echo "No changes to commit"
          # Push the changes back to the main branch
          git push
